
    #titulo {
        font-size: 40px;
        color: rgb(255, 255, 255);
        background-color: #db830f;
    
    }
    
    .texto {
        text-align: center;
        color: #250a6d;
    
    }
    
    body {
        background-color: #dbd2c8;
    }
    #banner {
        width: 50%;
        margin: 20px;
        padding: 5px;
    }
    #texto {
        text-align: center;
        color: #000000;
    }
    
    #logo {
        background-color: #8c1635;
        
    }
    
    footer {
        background-color: #b7b9dd;
        text-align: center;
    }    